
    * {
        margin: 0;
        padding: 0;
        border: 0; }
    
    body {
        background-color: white;
        background-image: url(Background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        background-size: cover;
    }
    

    h1 { 
        color: white; 
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 15px;
        position: absolute;
        float: left;
}
    
    h2 {
        margin-top: 1px;
        padding-left: 15px;
        font-family: 'Open Sans Condensed', sans-serif;
        position: absolute;
        margin-top: 80px;
    
}

    
    h3 {
        color: white;
        font-family: 'roboto', sans-serif;
        font-weight: 200;
        font-size: 20px;
        margin-left: 15px;
        margin-bottom: 5px;
        margin-top: 155px;
        float: left; 
        text-align: left;
        
        }

    h3 a {
        transition: all 0.6s;}

    h3 a:link {
        color: white;
    }


    h3 a:visited {
        color: darkgray;
    }

    h3 a:hover {
        color: lightcoral;
    }


    h4 {
        color: white;
        font-family: 'roboto', sans-serif;
        font-weight: 200;
        font-size: 20px;
        margin-left: 15px;
        margin-bottom: 5px;
        margin-top: 15px;
        float: left; 
        text-align: left;
        }

    h4 a {
        color: white;
        transition: all 0.6s;
        
    }

    h4 a:link {
        color: white;
    }


    h4 a:visited {
        color: darkgray;
    }

    h4 a:hover {
        color: lightcoral;
    }


    p {
        display: block;
        font-family: arial, sans-serif; 
        text-align: left;
        margin-left: 15px;
        margin-top: 20px;

}
    
    
    main { width: 600px;
           margin-left: auto;
           margin-right: auto;
           text-align: center;

    }
   
    nav {
        display: block;
        clear: both;
        background-color: #ffffff30;
        overflow: auto;
        position: absolute;
        top: 160px;
/*        height: 30px;*/
        margin-left: 15px
     
}

    nav a {
        display: block;
        width: 140px;
        text-align: center;
        text-decoration: none;
        font-family: 'roboto', sans-serif;
        color: #fff6df;
        text-transform: none;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 40px;
        height: 40px;
        font-family: 'Open Sans Condensed', sans-serif;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 2px;

}

    footer {
        color: grey;
        padding-top: 100px;
        padding-bottom: 30px;
        padding-right: 10px;
        font-style: italic;
        float: right;
        margin-top: 400px;
}

    #home {
        position: relative;
    }


    #home a {
        padding-top: 20px; 
        display: block;
        position: relative;
        float: left;
        font-family: arial, sans-serif;
        color: white;
        font-size: 18px;

    }

    #home img {
        padding-top: 0px;
        float: left;
        padding-left: 15px;
    }


    #home h2 {
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 150px;
    }

    #home h3 {  
        margin-top: 190px;
        font-family: 'Open Sans Condensed', sans-serif;
        padding-bottom: 20px;

    }


    #home p {
        color: black;
        margin-top: 4px;
    }


    #gallery {
        margin-right: auto;
        margin-left: auto;
        width: 1000px;
        margin-top: 0px;
        
    }

    #gallery a img {

        display: block;
        width: 280px;
        height: 180px;
        border: 1px solid #ddd;
        border-radius: 5px; 
        padding: 4px; 
         

    }

    #gallery a {

        float: left;
        display: block;
        width: 300px;
        height: 200px;
        margin-right: 10px;
        margin-top: 150px;
        position: relative;
        border-radius: 0px;
        overflow: hidden;
        margin-bottom: 30px;

    }


    #gallery a:nth-of-type(3n){
        margin-right: 0;
    }


